annotated-types
anyio
blinker
certifi
cffi
charset-normalizer
click
coverage
cryptography
distro
flake8
Flask
flask-cors
h11
httpcore
httpx
idna
iniconfig
itsdangerous
Jinja2
jiter
MarkupSafe
mccabe
openai
packaging
pdfminer.six
pdfplumber
pillow
pluggy
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
pypdfium2
pytest
pytest-cov
python-dotenv
sniffio
tqdm
typing-inspection
typing_extensions
Werkzeug